.blog {
background-color: #660033;
}

/*ESTILOS CABECERA*/

#contenedor-cabecera {
background-color: whitesmoke;
}

.logo {
width: 50%;
}

/*ESTILOS BARRA DE NAVEGACIÓN*/

#barra {
background-color: #330099;
height: 50px;
border: 3px solid black;
}

/*ESTILOS CONTENIDOS*/

.contenedor-contenidos-principal {
background-color: #ff0033;
padding: 5px 5px;
}

.contenidos {
border: solid 1px black;
padding-top: 3px;
}

.entrada-blog {
background-color: #ff0066;
padding-top: 10px;
}

.texto-entrada {
color: white;
}

.titulo-entrada {
color: white;
}


@media (max-width:1366px){
#barra {
height: 100%;
}
.logo-social{
max-width: 50%;
}

.logo {
max-width: 50%;
}


}